.card{
    position: relative;
}
.card::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 20px;
    border-radius: 3px;

}
